*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans SC", sans-serif;
    user-select: none;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #1e1e1e;
    overflow: auto;

}


.main-container {
    width: 100vw;
    height: 100vh;
    background-color: #3f3f3f;
    display: flex;
    overflow: auto;
    justify-content: center;
    align-items: center;
}

.buttons-container .selected {
    border: 2px solid #429c51;
    background-color: #111111;
}

.title_container {
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: start;
    transition: .3s;
    background: #ffffff0a;
}

.title_container:hover {
    background-color: #3b3b3b;
}

/* Contenedor de los botones */
.buttons-container {
    width: 98vw;
    height: auto;
    max-height: 98vh;
    display: grid;
    gap: 0.3vh;
    align-content: center;
    align-items: center;
    justify-items: center;
    margin: auto;
}

.buttons-container>div {

    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #1e1e1e3d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.1s;

}

.buttons-container>div:empty:hover {

    border: 2px solid white;

}

.hidden {
    transition: .3s;
    display: none;
}


.button_opt {
    padding: 10px;
    background-color: #3b3b3b;
    color: whitesmoke;
    border: none;
    border-bottom: 2px solid gray;
    outline: none;
    transition: .3s;
}

.menuContainer input {
    background-color: transparent;
    width: 100%;
    border: 2px solid whitesmoke;
    font-size: 24px;

    outline: none;
    color: whitesmoke;
    padding: 5px;


}
.grid-item{
    border-radius: 4%;
}
.menuContainer button:hover {
    background-color: #429c51;
    cursor: grab;
}

.menuContainer.hidden {
    width: 0;
    margin-left: 0;
    padding: 0;
}

.menuContainer {
    z-index: 2;
    width: 50%;
    padding: 10px;
    background-color: #1e1e1e;
    height: 100%;
    margin-left: 40px;
    transition: .4s;
    overflow: auto;
    display: block;

    h2,
    h3 {
        color: white;
    }

    .container:not(.hidden) {
        display: flex;
        flex-direction: column;
        border-left: 5px solid #429c51;
    }
}

.menuContainer.hidden * {
    display: none;
}

/* Estilo para los botones */
.button {
    width: 100%;
    height: 100%;
    padding: 20px;
    border: 4px solid red;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-align: center;
}

#button_creator_dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 50vh;
    max-height: 90vh;
    min-width: 50vw;
    max-width: 90vw;
    overflow-y: scroll;
    background-color: #1e1e1e;


}

#button_creator_dialog>svg:first-of-type {
    box-sizing: initial;
    display: flex;
    padding: 10px;
    width: 30px;
    height: 30px;
    color: red;
    margin-left: auto;
}

.dialog_content {
    * {
        font-size: 24px;
    }

    display: flex;
    flex-direction: column;
    padding: 0 5%;


    label {
        color: white;
        margin: 10px 0;
    }

    div {
        display: flex;
        flex-direction: column;
    }

    select {
        background-color: #3b3b3b;
        color: white;
        outline: none;
        border: 2px solid gray;
    }

    input {
        background-color: #3b3b3b;
        color: white;
        outline: none;
        border: 2px solid gray;
    }

    .submit_button{
        background-color: #429c51;
        margin-top: 10px;
        color: black;
        border: none;
        outline: none;
        width: 80%;
        align-self: center;
        padding: 10px;
        border-radius: 10px;
    }
}

.button_template {
    background-size: cover;
    background-size: cover;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    width: 20%;
    align-self: center;
    aspect-ratio: 1 / 1;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 5px 5px 7px black;
    position: relative;
    align-items: center;
    justify-content: center;

    img {
        aspect-ratio: inherit;
        border-radius: inherit;
        -webkit-touch-callout: none; /* Safari */
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        pointer-events: none; /* Opcional: desactiva completamente la interacción */
    }
}

.image-dialog {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: #222;
    color: #fff;
    border: 2px solid #393939;
    margin: auto;
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    padding: 10px;
    max-height: 400px;
    overflow-y: auto;
    margin: auto;
}

.gallery-image {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 20px;
    box-sizing: inherit;
    object-fit: contain;
    border: 2px solid white;
    padding: 10px;
}

.gallery-image:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.close-button {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.image-gallery .upload-button {
    /* background-color: #429c51; */
    color: black;
    border: 2px dashed #429c51;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    outline: none;
    align-self: center;
    padding: 10px;
    border-radius: 10px;
}

.image-gallery .upload-button:hover {
    background-color: #429c5180;
    cursor: pointer;
}

.image-gallery .no-image {
    display: flex;
    justify-content: center;
    align-items: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: break-spaces;
    text-align: center;
    width: 100%;
    border: 2px dashed #a11d1d;
    border-radius: 10px;
}

.button_text_div {
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

input[type="color"] {
    width: 50px;
    display: inline-block;
    height: 50px;
    border: none;
    cursor: pointer;
    background: transparent;
}

.personalization_settings {
    display: flex;
    flex-direction: row !important;
}


#tabs_container {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 10px;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #1e1e1e57;
    transition: .3s;
}

#tabs_container.hidden {
    margin-left: 0;
    padding: 0;
}

#tabs_container.hidden * {
    display: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

#tabs_container button {
    outline: none;
    border: none;
    background-color: transparent;

}

#tabs_container .tab_button_container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #429c51;
    padding: 5px 10px;

    font-size: 16px;
    border-radius: 8px;

    .arrow {
        border-left: 1px solid black;
        padding: 0px 5px;
    }
}


.button_div {
    width: 100%;
    display: flex;
    height: 100%;
    overflow: hidden;
    border-radius: 4%;
    text-overflow: ellipsis;
    position: relative;
}

.button_div img {
    position: absolute;
    border-radius: inherit;
    height: auto;
    object-fit: cover;
    -webkit-touch-callout: none; /* Safari */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none; /* Opcional: desactiva completamente la interacción */
}

#pages-container {
    background-color: #1e1e1e;
    width: 100%;
    padding: 10px;
    color: white;
    max-height: 500px;
    /* Ajusta según el contenido */
    top: 0;
    transition: .3s;
    display: flex;
    flex-direction: row;
    gap: 5px;
    left: 0;
    opacity: 1;
    /* Se mantiene visible */
    /* Asegura que no se vea el contenido detrás */
}

#pages-container.hidden {
    height: 0;
    opacity: 0;
    /* Se desvanece */
    padding: 0;
    /* Opcional para que no ocupe espacio */
}

.page {
    padding: 5px 15px;
    background-color: #429c51;
    display: flex;
    gap: 8px;
    align-items: center;
    position: relative;
    justify-content: center;
    border-radius: 10px;
    transition: .3s;
}

.folder-config {
    position: absolute;
    top: 110%;
    left: 0;
    background: #1e1e1e;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 10px;
    z-index: 10;
    min-width: 220px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
}

.folder-config label {
    color: #fff;
    font-size: 14px;
    display: block;
}

.folder-config input[type="text"],
.folder-config input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 14px;
    transition: background-color 0.3s, border-color 0.3s;
}

.folder-config input[type="text"]:focus,
.folder-config input[type="number"]:focus {
    background-color: #444;
    border-color: #66c2ff;
    outline: none;
}

.bg-preview {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    border: 2px solid whitesmoke;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.bg-preview:hover {
    opacity: 0.9;
}

.folder-config button {
    width: 100%;
    padding: 10px;
    background-color: #66c2ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.folder-config button:hover {
    background-color: #3388cc;
}

.folder-config button:active {
    background-color: #2266aa;
}

.remove_cont {
    display: flex;

    svg {
        margin-left: auto;
        width: 24px;
        height: 24px;

        &:hover {
            stroke: red;
        }
    }
}

.page:hover {
    background-color: #429c5180;
    cursor: pointer;
}

.chevron_svg {
    box-sizing: content-box;
    stroke-width: 2;
    padding: 5px;
    border-radius: 30%
}

.context-menu {
    position: absolute;
    background-color: rgba(30, 30, 30, 0.5);
    padding: 10px;
    top: 50px;
    left: 10px;
    z-index: 1000;
    display: none;
    min-width: 150px;
    /* Opcional: Establece un ancho mínimo */
}

.context-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.context-menu li {
    padding: 5px;
    cursor: pointer;
}

.context-menu li:hover {
    background-color: rgba(30, 30, 30, 1);
    ;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 30%;
    height: 100%;
    background: #3f3f3f;
    --thumb-width: 150%;
    --thumb-height: 10%;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: var(--thumb-width);
    height: var(--thumb-height);
    border: 4px solid #3f3f3f;
    background-color: #429c51;
}

.QuickMenu {
    display: flex;
    padding: 5px 0;
    flex-direction: row;
    gap: 10px;
    justify-content: end;
}

.quickmenu_icon svg {
    width: 40px;
    background-color: #393939;
    border-radius: 30%;
    height: 40px;
    stroke: #fff;
}


.sys-input-wrapper{
    display: flex;
    flex-direction: row!important;
    gap :0;
    width: 100%;
    height: 100%;
}
.sys-input-wrapper button{
    border: none;
    outline: none;
    margin: 0;
}

.toggled{
    border: 10px solid red;
    filter: invert(10%);
    img{
        filter: contrast(100%);
        border-radius: 0;
    }
}