<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NeoDeck settings</title>
    <link rel="icon" href="static\icons\icon.ico" />

    <script src="/static/js/selectionmenu.js"></script>
    <link rel="stylesheet" href="/static/css/settings.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>

    <nav class="section_container">
        <a href="/"> go back</a>
    </nav>
    <div class="settings_container"></div>
    
    <script>
    
        const translations = {{ context["text"] | tojson | safe }};
        const schema = {{ context['schema'] | tojson | safe }};
        const settings = {{ context['settings'] | tojson }};
    </script>

    
    <script src="/static/js/settings.js"></script>
</body>
</html>